.accolade-date{font-family:Typ1451-Medium,verdana,sans-serif}
.accolade-date{font-size:.70233rem;text-transform:uppercase;padding-left:0}
.page-accolades .uw-site-sidebar .call-to-action-center-wrapper{margin:2rem auto;-webkit-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;display:-webkit-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;-ms-flex-direction:row;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-ms-flex-pack:center;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple}
.page-accolades .view-accolades .view-content .clearfix a.accolade-link{-moz-transition-delay:0s;-moz-transition-timing-function:"linear";-ms-transition-duration:.2s;-ms-transition-timing-function:"linear";-webkit-transition-duration:.2s;-webkit-transition-timing-function:"linear"}
.page-accolades .container-inline-date .form-item{clear:inherit}
.page-accolades .accolade-addtoany{height:2rem;display:block;position:absolute;bottom:1.2rem;right:.4rem}
.page-accolades .view-accolades .view-header{float:left;display:block;margin-right:1.80505%;width:100%}
.page-accolades .view-accolades .view-header:last-child{margin-right:0}
.page-accolades .view-accolades .view-filters{float:left;display:block;margin-right:1.80505%;width:100%;padding:.5rem;margin-bottom:3rem;margin-top:.74rem;border:1px solid #eee;min-height:inherit}
.page-accolades .view-accolades .view-filters form{margin-top:0}
.page-accolades .view-accolades .view-filters:last-child{margin-right:0}
.page-accolades .view-accolades .view-filters::after{clear:both;content:"";display:table}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-widget{height:2rem;overflow:hidden}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets{margin:0 1.80505% 0 0;padding:0;float:left;display:block;width:100%}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter:last-child,
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets:last-child{margin-right:0}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets fieldset.fieldset-invisible>legend{height:0;padding:0;margin:0;overflow:hidden}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter{float:left;display:block;width:66.06498%;margin-right:0}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter .form-type-date-select.form-item-date-filter-value{padding:0;margin:0 1.80505% 0 0;float:left;display:block;width:100%}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter .form-type-date-select.form-item-date-filter-value:last-child{margin-right:0}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter .form-type-date-select.form-item-date-filter-value .date-padding{float:left;display:block;margin-right:1.80505%;width:100%}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-submit-button:last-child,
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-widget-filter-date_filter .form-type-date-select.form-item-date-filter-value .date-padding:last-child{margin-right:0}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-submit-button{float:left;display:block;width:32.12996%;margin-right:0}
.page-accolades .view-accolades .view-filters .views-exposed-form .views-exposed-widgets .views-submit-button input{width:6.25rem}
.page-accolades .view-accolades .view-content{float:left;margin-right:1.80505%;width:100%;display:block}
.page-accolades .view-accolades .view-content:last-child{margin-right:0}
.page-accolades .view-accolades .view-content img[typeof="foaf:Image"]{padding:0!important;margin:0!important}
.view-accolades .view-content img[typeof="foaf:Image"]{padding:0!important;margin:0 0 0.5rem 0!important}
.page-accolades .view-accolades .view-content .node-accolade{height:100%;padding:.5rem;border:1px solid #EEE;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch}
.page-accolades .view-accolades .view-content .clearfix{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;height:auto;overflow:hidden;position:relative}
.page-accolades .view-accolades .view-content .clearfix h3.accolade-title{padding:.5rem;line-height:1.25;margin:.5rem 0}
.page-accolades .view-accolades .view-content .clearfix .accolade-info{padding:.5rem}
.page-accolades .view-accolades .view-content .clearfix a.accolade-link{text-decoration:none;display:block;height:100%;padding-bottom:3.4rem;-moz-transition-property:background-color;-moz-transition-duration:.2s;-ms-transition-property:background-color;-ms-transition-delay:0s;-webkit-transition-property:background-color;transition-property:background-color;transition-duration:.2s;-webkit-transition-delay:0s;transition-delay:0s;transition-timing-function:"linear"}

.accolade-addtoany .addtoany_list a span.a2a_svg,
.page-accolades .view-accolades .view-content .clearfix a.accolade-link:focus,
.page-accolades .view-accolades .view-content .clearfix a.accolade-link:hover{-moz-transition-property:background-color;-moz-transition-delay:0s;-moz-transition-timing-function:"linear";-ms-transition-property:background-color;-ms-transition-timing-function:"linear";-webkit-transition-property:background-color;-webkit-transition-timing-function:"linear"}
.page-accolades .view-accolades .view-content .clearfix a.accolade-link:focus,
.page-accolades .view-accolades .view-content .clearfix a.accolade-link:hover{background-color:#eee;-moz-transition-duration:.2s;-ms-transition-duration:.2s;-ms-transition-delay:0s;transition-property:background-color;-webkit-transition-duration:.2s;transition-duration:.2s;-webkit-transition-delay:0s;transition-delay:0s;transition-timing-function:"linear"}

.node-type-accolade .node-accolade{background:#fff}
.node-type-accolade .node-accolade .accolade-link{display:block;padding:1rem;margin-bottom:1rem}
.node-type-accolade .node-accolade a.accolade-link:active,
.node-type-accolade .node-accolade a.accolade-link:link{text-decoration:none}
.node-type-accolade .node-accolade a.accolade-link:active .accolade-title,
.node-type-accolade .node-accolade a.accolade-link:link .accolade-title{text-decoration:underline}
.node-type-accolade .node-accolade a.accolade-link:focus,
.node-type-accolade .node-accolade a.accolade-link:hover{background-color:#eee}
.node-type-accolade .node-accolade a.accolade-link:focus .accolade-title,
.node-type-accolade .node-accolade a.accolade-link:hover .accolade-title{text-decoration:none}
p.accolade-info{font-size:.88889rem}
.node-type-accolade .node-accolade p.accolade-info{font-size:1rem}
.view-display-id-uw_accolade_block{background-color:#eee}
.view-display-id-uw_accolade_block .view-header{clear:both}
.view-display-id-uw_accolade_block .view-content{padding:.7rem;margin:0 auto}
.view-display-id-uw_accolade_block .view-content img[typeof="foaf:Image"]{padding:0;margin:0}
.view-display-id-uw_accolade_block .view-footer{clear:both;background-color:#eee;padding:.3rem}
.view-display-id-uw_accolade_block .view-footer div.call-to-action-wrapper{width:100%}
.view-display-id-uw_accolade_block .view-footer div.call-to-action-wrapper .call-to-action-small-text {text-align: center;font-size: .79012rem;font-family: Typ1451-Medium,verdana,sans-serif;padding: 0 .25rem .25rem;text-transform: uppercase;}
.view-display-id-uw_accolade_block .view-footer div.call-to-action-wrapper .call-to-action-big-text {font-weight:normal;text-align: center;font-size: 1.42383rem;font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif;letter-spacing: .05rem;padding: 0 .25rem .313rem;line-height: 1.2; }
.view-display-id-uw_accolade_block .browse-accolades,
.view-display-id-uw_accolade_block .submit-accolade{height:6.7rem}
.view-display-id-uw_accolade_block ul{overflow:auto;padding:0!important;margin:0}
.view-display-id-uw_accolade_block ul li{clear:both;list-style:none;padding:0;margin:0}
.node-accolade .accolades-bio p{margin:0}
.block-uw-ct-accolade{padding:10px;border:3px solid #999;margin-bottom:15px}
.block-uw-ct-accolade ul{margin-bottom:0}
.block-uw-ct-accolade ul li{padding:.5em 0 0}
.accolade-addtoany .addtoany_list{display:block;position:relative}
.accolade-addtoany .addtoany_list a{width:2rem;height:2rem;display:inline-block;margin:.25rem}
.accolade-addtoany .addtoany_list a span.a2a_svg{width:2rem!important;height:2rem!important;background:#757575!important;-moz-transition-duration:.3s;-ms-transition-duration:.3s;-ms-transition-delay:0s;transition-property:background-color;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-delay:0s;transition-delay:0s;transition-timing-function:"linear"}
.accolade-addtoany .addtoany_list a:focus span.a2a_svg,
.accolade-addtoany .addtoany_list a:hover span.a2a_svg{background:#fafafa!important;-moz-transition-property:background-color;-moz-transition-duration:.3s;-moz-transition-delay:0s;-moz-transition-timing-function:"linear";-ms-transition-property:background-color;-ms-transition-duration:.3s;-ms-transition-delay:0s;-ms-transition-timing-function:"linear";-webkit-transition-property:background-color;transition-property:background-color;-webkit-transition-duration:.3s;transition-duration:.3s;-webkit-transition-delay:0s;transition-delay:0s;-webkit-transition-timing-function:"linear";transition-timing-function:"linear"}
.accolade-addtoany .addtoany_list a:focus span.a2a_svg svg path,
.accolade-addtoany .addtoany_list a:hover span.a2a_svg svg path{fill:#757575!important}
.accolade-addtoany .addtoany_list a svg{width:2rem;height:2rem}
.accolade-addtoany .addtoany_list a .a2a_label,
.accolade-addtoany .addtoany_list a.addtoany_share_save{visibility:hidden;height:0;width:0;overflow:hidden}
.accolade-date{display:inline-block;line-height:1.25;width:auto;padding:.5rem;text-decoration:none;color:#000;background-color:#FDD54F}
.node-type-accolade .accolade-date{display:none}
.page-accolades .accolade-date{position:absolute;bottom:1.25rem;left:1.25rem;z-index:1}

@media screen and (min-width:30rem){
    .page-accolades .view-accolades .view-content{display:grid;grid-gap:1.25rem;color:#444;grid-auto-flow:row}
}

@media screen and (min-width:48.0625rem){
    .page-accolades .view-accolades .view-filters{        min-height:0    }
    .page-accolades .view-accolades .view-header{margin-top:1rem}
    .page-accolades .view-accolades .view-filters{float:left;display:block;margin-right:1.80505%;width:49.09747%}
    .page-accolades .view-accolades .view-filters:last-child{margin-right:0}
    .page-accolades .view-accolades .view-content{display:grid;grid-template-columns:32% 32% 32%}
    .accolade-addtoany .addtoany_list a{margin:0 .125rem}
    .uw-site-main--content{float:left;display:block;margin-right:1.80505%;width:74.54874%}
    .uw-site-main--content:last-child{margin-right:0}
    .uw-site-main--content.accolades{float:left;display:block;margin-right:1.80505%;width:100%}
    .uw-site-main--content.accolades:last-child{margin-right:0}
}
@media screen and (min-width:63.1875rem){
    .page-accolades .view-accolades .view-header{float:left;display:block;margin-right:1.80505%;width:66.06498%}
    .page-accolades .view-accolades .view-header:last-child{margin-right:0}
    .uw-site-main--content{float:left;display:block;margin-right:1.80505%;width:74.54874%}
    .uw-site-main--content:last-child{margin-right:0}
    .uw-site-main--content.accolades{float:left;display:block;margin-right:1.80505%;width:100%}
    .uw-site-main--content.accolades:last-child{margin-right:0}
    .page-accolades .view-accolades .view-filters{float:left;display:block;width:32.12996%;margin-right:0}
    .page-accolades .view-accolades .view-filters:last-child{margin-right:0}
    .accolades .uw-site-content{float:left;display:block;margin-right:1.80505%;width:100%}
    .accolades .uw-site-content:last-child{float:left;display:block;width:100%;margin-right:0}
    .page-accolades .uw-site-sidebar--wrapper{float:left;margin-right:1.80505%;width:100%;display:inherit}
    .page-accolades .uw-site-sidebar--wrapper:last-child{margin-right:0}
    .page-accolades .view-accolades .view-filters{ min-height:inherit;    }
}

.uw-site--banner{position:relative;}
.banner-item{display:block;text-align:center;height:auto;background:#DFDFDF;background-size:cover;overflow:hidden}
.banner-item img{width:100%;height:auto;display:block}
.banner-text{-webkit-box-align:center;box-align:center;-webkit-align-items:center;-moz-align-items:center;-ms-align-items:center;-o-align-items:center;align-items:center;-ms-flex-align:center;display:-webkit-box;display:box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-flex-direction:row;-moz-flex-direction:row;flex-direction:row;-ms-flex-direction:row;-webkit-justify-content:center;-moz-justify-content:center;-ms-justify-content:center;-o-justify-content:center;justify-content:center;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-orient:horizontal;-moz-box-orient:horizontal;box-orient:horizontal;-webkit-box-pack:center;-moz-box-pack:center;box-pack:center;-ms-flex-pack:center;-webkit-box-lines:multiple;-moz-box-lines:multiple;box-lines:multiple;position:relative;z-index:4;bottom:inherit;left:0;right:0;padding:0;max-width:63.125rem;margin-left:auto;margin-right:auto}
.banner-text::after{clear:both;content:"";display:table}
.banner-text .highlight h1:before,
.banner-text .highlight h2:before,
.banner-text .highlight h3:before,
.page-accolades .uw-site--title{display:none}
.banner-text .highlight{-webkit-box-flex:0;box-flex:0;-webkit-flex:0 0 100%;-moz-flex:0 0 100%;-ms-flex:0 0 100%;flex:0 0 100%;padding:1rem;background-color:#000;position:relative}
.banner-text .highlight h1{text-align:center;color:#fff}
.banner-text .highlight h2{bottom-border:none;text-align:center;color:#fff}
.banner-text .highlight h3{text-align:center;color:#fff}
.banner-text .highlight p{color:#fff}
@media screen and (min-width:63.1875rem){

    .banner-text{position:absolute;bottom:1rem;}
    .banner-text .highlight{background-color:rgba(0,0,0,.75)}
}
@media screen and (min-width:90rem){
    .banner-text{bottom:1rem}
}
.page-accolades .view-accolades .view-filters form .date-year{margin-right:0.25rem;}
.page-accolades .uw-header--banner__alt .uw-section--inner,
.page-accolades .uw-site--breadcrumb{display:none}
.uw-site--banner .uw-section--inner {padding: 0;}
.uw-site--banner .uw-section--inner{max-width: 100%;margin-left: auto;margin-right: auto;}